.UserLogOut {
    font-size: 1.5vmin;
    color: var(--text-light);
    text-align: center;
  }
  
  .UserLogOut .email {
    font-size: smaller;
  }
  
  #logout{
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    background-color: white;
  }